.form {
  margin: 3rem auto;
  padding: 2rem;
  /* width: 90%; */
  max-width: 20rem;
  border: 1px solid violet;
  border-radius: 4px;
}

.formControl label,
.formControl input {
  display: block;
  font: inherit;
  margin-bottom: 0.5rem;
}

.form button {
  font: inherit;
  padding: 0.25rem 1.5rem;
  background-color: violet;
  border: 1px solid violet;
  color: whitesmoke;
  cursor: pointer;
}
